# PowerController development environment variables
APP_ENV=development

# Set the config file to use
APP_CONFIG=configs/development.yaml

# API Key for Amber Electric 
AMBER_API_KEY=op://Dev/AmberElectric/APIKey

# Access key for the Power Controller web app
# WEBAPP_ACCESS_KEY=op://Dev/PowerController/WebAppAccessKey

# Power Controller Viewer access key for posting state data
VIEWER_ACCESS_KEY=op://Dev/PowerControllerViewer/PostingKey

# STMP credentials
SMTP_SERVER=op://Dev/Gmail SMTP/SMTPServer
SMTP_USERNAME=op://Dev/Gmail SMTP/username
SMTP_PASSWORD="op://Dev/Gmail SMTP/password"
SMTP_SEND_TO_EMAIL=op://Dev/Gmail SMTP/SendTo

# TeslaMate database credentials
TESLAMATE_DB_PASSWORD=op://Dev/TeslaMateSydney/DBPassword

# UPS simulation variables
SIMULATE_CHARGE=81
SIMULATE_RUNTIME=1100
SIMULATE_STATE=charging